.Header-header {
  background-color: gray;
  padding: 10px;
  color: white;
}

.Header-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
